@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&display=swap");

html,
body {
  position: relative;
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #f4f4f4;
}
