@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500&display=swap");

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.swiper-wrapper {
  height: 100vh !important;
}
